TimeTable.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Timetable">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="day">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="task">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Type">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="name" type="xs:string" use="optional" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="StartTime" type="xs:string" />
                    <xs:element name="EndTime" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="college" type="xs:boolean" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>